@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,400italic|Homenaje|Wire+One|Quicksand);

	
*{font-size:13pt;color:#666;font-family:'Source Sans Pro',sans-serif;}

body{text-align:center;}
h1{font-size:24pt;color:#999;display:inline-block;}
h2{font-size:18pt;color:#999;}
ol>li{list-style:decimal;}
#wrapper{overflow:hidden;width:1200px;margin-left:auto;margin-right:auto;text-align:left;position:relative;}
input#search{position:absolute;top:30px;right:60px;width:300px;padding:5px;
	background-image:url('../images/ico_search.png');
	background-repeat:no-repeat;
	background-position:right center;
}
nav{border-bottom:1px solid #CCC;}
nav > a{margin-left:30px;}
nav > a[href='']{text-decoration:none;}
input#search:focus{
	background-image:none;
}
dl{
	float:left;width:240px;
	overflow:hidden;
}
dl .on{background-color:rgb(236,240,241);}
dt, dd{line-height:24px;}

article{
	float:left;width:900px;
	overflow:hidden;
}
section{
	margin-top:5px;
	margin-bottom:5px;
	border-bottom:1px solid #CCC;
}
header{font-family:Homenaje;font-size:20pt;}
footer{margin-top:20px;padding-top:20px;text-align:center;}
section.cls{
	padding-bottom:20px;
	padding-top:20px;
}
section.cls b{color:rgb(232,76,61);}

/*
section ul>li{list-style:none;}
section li{line-height:28px;position:relative;}
*/
section li > label{display:inline-block;min-width:120px;white-space:nowrap;}

section dfn{font-style:normal;color:black;padding-left:5px; padding-right:5px;}
section code{font-family:Courier New, Courier New, monospace;padding-top:10px;padding-bottom:10px;line-height:24px;margin-top:10px;margin-bottom:10px;
	background-color:#EEE;display:block;max-width:800px;padding-left:20px;}

section label{float:left;}
section var{float:left;}
section > div{padding-left:20px;position:relative;}
section > div:before{content:"";position:absolute;width:14px;height:14px;top:4px;left:0px;font-size:8pt;text-align:center;border-radius:7px;background-color:rgb(26,188,156);}
section > div.static:before{content:"S";color:white;border-radius:0;}
section > div.public:before{}
section > div.private:before{background-color:rgb(232,76,61);}
section > div.protected:before{background-color:rgb(241,196,15);}
section > div.notmethod:before{background-color:rgb(236,240,241);}
section > div.static > dfn{font-style:italic;font-weight:400;}
section > div.example:before{background-color:rgb(236,240,241);}
.nodoc{color:red;}
section.func {overflow:hidden;}
section.func ul{overflow:hidden;}
section.func li{line-height:28px;overflow:hidden;list-style:none;}

table{border-top:1px solid #ccc;border-right:1px solid #ccc;
	border-collapse:collapse;margin:20px;margin-bottom:30px;}
tr{}
th,td{padding-left:5px;padding-right:5px;vertical-align:top;
	border-bottom:1px solid #CCC;border-left:1px solid #CCC;}
td {font-size:11pt;}
